@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Times New Roman', serif;
    background: #fff;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 200px;
    max-width: 200px;
    height: 100vh;
}

#sidebar.active {
    margin-left: -200px;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.navbar{
    background: #f3f3f3;
    color: #000;
    box-shadow: 2px 0px 21px -10px;
}

.navbar-brand{
    width: 200px;
}

.col-btn{
    color:#000;
}

#sidebar {
    background: #f3f3f3;
    color: #000;
    transition: all 0.3s;
    box-shadow: 3px -5px 16px -9px;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #f3f3f3;
}

#sidebar ul.components {
    padding: 10px 0;
}

#sidebar ul p {
    color: #000;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #000;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #000;
    background: #fff;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #fff;
}

.card{

}

.card-data-view{
    background: #fff;
}


@media screen and (max-width: 492px) {
    #sidebar {
        margin-left: -200px;
    }

    #sidebar.active {
        margin-left: 0px;
    }
}
